body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-body {
  width: 100%;
  height: auto;
  background-color: white;
  /* display: flex; */
}
.navbar {
  width: 100%;
  height: 90px;
  background-color: brown;
  display: flex;
  justify-content: center;
}
.search-box img {
  height: 30px;
  margin-left: -35px;
  /* z-index: 5; */
}

.search-box {
  display: flex;
  /* height: 50px; */
  align-items: center;
}
.search-box input {
  height: 50px;
  width: 270px;
  padding-left: 10px;
  box-shadow: 5px 2px 18px 10px black;
  border-radius: 15px;
  box-sizing: border-box;
  /* flex-grow: 1; */
}
.search-box input:focus {
  border: none;
  outline: none;
}
